
<div class="modal fade" id="ventanaModal" tabindex="-1" aria-labelledby="ventanaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal1Label"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="IdDivErrVacios">
                    <h4 id="IdErrVacios" style="color:red">Los campos no pueden quedar vacios</h4>
                </div>
                <div id="IdDivScc" class="contenedosElemento">
                    <strong><label id="IdSuccTitulo" style="color:green">Datos Guardados correctamente</label></strong>
                    <label id="IdSuccCompa" >Los campos no pueden quedar vacios</label>
                    <label id="IdSuccNom" >Los campos no pueden quedar vacios</label>
                    <label id="IdSuccCorreo" >Los campos no pueden quedar vacios</label>
                    <label id="IdSuccNum" >Los campos no pueden quedar vacios</label>
                </div>
                
            </div>
            <div class="modal-footer align-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
